
        <div class="login-container">

            
            <div class="login-grid2">     
                    <div class="header"><h2>LOGIN HERE</h2></div>
                    <form class="section">
                    <div class="Email"><label for="email"> Email id: <input type="email"id="email" name="email" placeholder="EMAIL REQUIRED"
                        style="width:100%;height: 40px;"></label></div>
                    <div class="Password"><label for="email">Password:</label>
                    <input type="password"id="Password" name="Password" maxlength="10" placeholder="ENTER PASSCODE" style="width:100%;height: 40px;"  ></div>
                    <div class="forgot password"><a routerLink="/forgetpassword-page">forgot password?</a></div>
                    </form>
                <div><button type="button" class="login-button"><a routerLink="/main-page">LOGIN</a></button></div>
                <div>
                      If your new Please <a routerLink="/register-page"> REGISTER HERE </a> 
                </div>
            </div>

            <div class="login-grid1">

            </div>
        </div> 
        