
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TS SM</title>
  </head>
  <header>
    <h2> Spanish Language Turtorial </h2>
  </header>
  <body>
    <nav>
      <div class="left-nav">
        <h3>TOPICS</h3>
      </div>
      <div class="list">

        <div>
          <a routerLink="/alphabets-page"> alphabets </a>
        </div>
        <div>
          <a routerLink="/verbs"> verbs</a>
        </div>
        <div>
            <a routerLink="/adverbs"> adverbs</a>
        </div>
        <div>
            <a routerLink="/nouns"> nouns</a>
        </div>
        <div>
            <a routerLink="/pronouns"> pronouns</a>
        </div>
        <div>
          <a routerLink="/speechs"> speechs</a>
        </div>
        <div>
          <a routerLink="/tenses"> tenses</a>
        </div>
        <div>
          <a routerLink="/articles"> articles</a>
        </div>
        <div>
            <a routerLink="/interjunctions"> interjunctions</a>
        </div>
        <div>
          <a routerLink="/prepositions"> prepositions</a>
      </div>
      <div>
        <a routerLink="/conjunctions"> conjunctions</a>
    </div>
    <div>
        <a routerLink="/basic-words"> basic words</a>
    </div>
    <div>
        <a routerLink="/basic-sentences"> basic sentences</a>
    </div>
    <div>
        <a routerLink="/basic-questions"> basic questions</a>
    </div>
      
        
      </div>
    </nav>
<main>
   



</main>
      
<aside>
    <div class="right-nav">
        <h3>SUB TOPICS</h3>
    </div>
</aside>
</body>
  <footer></footer>
</html>
