.main-page-header{

    display:grid;
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr ;
    top:0;
    position: fixed;
    width: 99%;
    gap: 1rem;
    border-bottom:2px solid black;
    text-align: center;

}
