
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TS SM</title>
  </head>
  <header>
    <h2> Spanish Language Turtorial </h2>
  </header>
  <body>
    <nav>
      <div class="bottom">
        <h3>TOPICS</h3>
      </div>
      <div class="list">

        <div>
          <a routerLink="/alphabets"> <span>alphabets</span> </a>
        </div>
        <div>
          <a routerLink="/verbs"> verbs</a>
        </div>
        <div>
            <a routerLink="/adverbs"> adverbs</a>
        </div>
        <div>
            <a routerLink="/nouns"> nouns</a>
        </div>
        <div>
            <a routerLink="/pronouns"> pronouns</a>
        </div>
        <div>
          <a routerLink="/speechs"> speechs</a>
        </div>
        <div>
          <a routerLink="/tenses"> tenses</a>
        </div>
        <div>
          <a routerLink="/articles"> articles</a>
        </div>
        <div>
            <a routerLink="/interjunctions"> interjunctions</a>
        </div>
        <div>
          <a routerLink="/prepositions"> prepositions</a>
      </div>
      <div>
        <a routerLink="/conjunctions"> conjunctions</a>
    </div>
    <div>
        <a routerLink="/basic-words"> basic words</a>
    </div>
    <div>
        <a routerLink="/basic-sentences"> basic sentences</a>
    </div>
    <div>
        <a routerLink="/basic-questions"> basic questions</a>
    </div>


      </div>
    </nav>
<main>
    <div>
        <h2> Spanish alphabets  </h2>
    </div>
    <div>
        Spanish alphabets consist of 27 letters with 5 vowels and 22 consonants.
    </div>
    <div>
        <img src="/spanish/src/assets/images/spanish-special-letters.png">
    </div>

</main>

<aside>
    <div class="bottom">
        <h3>SUB TOPICS</h3>
    </div>
    <div class="list">
        <div>
            <a routerLink="/alpha-pro"> pronunciations </a>
          </div>
        <div>
            <a routerLink="/special-letters-page"> special letters </a>
          </div>
          <div>
            <a routerLink="/vovels"> vovels </a>
          </div>
          <div>
            <a routerLink="/consonents"> components </a>
          </div>
          <div>
            <a routerLink="/syllabeles"> syllabeles </a>
          </div>

    </div>
</aside>
</body>
  <footer></footer>
</html>

