
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TS SM</title>
  </head>
  <header>
    <h2> Spanish Language Turtorial </h2>
  </header>
  <body>
    <nav>
      <div class="bottom">
        <h3>TOPICS</h3>
      </div>
      <div class="list">

        <div>
          <a routerLink="/alphabets"> <span>alphabets</span> </a>
        </div>
        <div>
          <a routerLink="/verbs"> verbs</a>
        </div>
        <div>
            <a routerLink="/adverbs"> adverbs</a>
        </div>
        <div>
            <a routerLink="/nouns"> nouns</a>
        </div>
        <div>
            <a routerLink="/pronouns"> pronouns</a>
        </div>
        <div>
          <a routerLink="/speechs"> speechs</a>
        </div>
        <div>
          <a routerLink="/tenses"> tenses</a>
        </div>
        <div>
          <a routerLink="/articles"> articles</a>
        </div>
        <div>
            <a routerLink="/interjunctions"> interjunctions</a>
        </div>
        <div>
          <a routerLink="/prepositions"> prepositions</a>
      </div>
      <div>
        <a routerLink="/conjunctions"> conjunctions</a>
    </div>
    <div>
        <a routerLink="/basic-words"> basic words</a>
    </div>
    <div>
        <a routerLink="/basic-sentences"> basic sentences</a>
    </div>
    <div>
        <a routerLink="/basic-questions"> basic questions</a>
    </div>


      </div>
    </nav>
<main>
    <div>
        <h2> Spanish alphabets  </h2>
    </div>
    <div>
        Spanish alphabets consist of 27 letters with 5 vowels and 22 consonants.
    </div>
    <div>
        <img src="/assets/images/spanish-special-letters.png">
    </div>
  <div>
    <h2> Things to know about spanish alphabets</h2>
  </div>
  <div>
    <ol>
      <li>
        Only vocals may contain an accent ( ' ). Only the letter "u" may show an accent or dieresis (ü).
      </li>
      <li>
        The letter "H" or "h" is silent, unless it is preceded by the letter "C" or "c" to form "Ch" (or by the letter S to form Sh).
      </li>
      <li>
        The combination of the letters P or p and h used in English is not used in Spanish, particularly to produce the f sound; so words like alpha (in English) are written as alfa in Spanish.

      </li>
      <li>
        The letter "Q" or "q" is basically accompanied by the letter "u", to be followed by a vocal, such as "o" or "i" to form the syllable que and qui.
      </li>
      <li>
        The letter "W" of "w", as the combination "Sh" or "sh" (and in some instances the letter "x" or "x") present flexibility to accommodate some neologisms, anglicisms, and other terms and names not necessarily original in Spanish. For instance: Washington.
      </li>
      <li>
        The letter "X" or "x", encompasses different sounds in pronunciation depending on the use of the word and the position of the letter in the word.
      </li>
      <li>
        Instance of variation in proper names: Names with roots in native languages of the Americas, such as from Nahuatl, may present a sound closer to an "S", such as in Xochimilco or Xóchitl. However, the pronunciation of Xola is similar to that of Shola
      </li>
      <li>
        Instance of soft-sounding x in the middle of a word: A mixiote is a traditional dish, and the "x" sounds like sh.
      </li>
      <li>
        Instance of strong sounding x in the middle of a word: México is written with an "x", though the x has a strong sound, similar to that of a J in Spanish. The letter "x" is located in the middle of the word; the same holds true for: Texas.
      </li>
      <li>
        Instance of x similar to the English "x": Shared words originated from the Latin, such as Axis, or other more modern uses such as ex, to colloquially refer to a past partner, etcetera.
      </li>
    </ol>
  </div>

  <div>
   <h2> Alphabets pronunciation</h2>
  </div>
  <div>
    <table>
      <tr>
        <th> Letters</th>
        <th>english </th>
        <th>Examples</th>
      </tr>
      <tr>
        <td>a / A </td>
        <td>ae </td>
        <td>
          <ol>
            <li>
              araña (spider)
            </li>
            <li>
              Abril(april)
            </li>
          </ol>

        </td>
      </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
      </tr>
    </table>
  </div>
</main>

<aside>
    <div class="bottom">
        <h3>SUB TOPICS</h3>
    </div>
    <div class="list">
        <div>
            <a routerLink="/alpha-pro"> pronunciations </a>
          </div>
        <div>
            <a routerLink="/special-letters-page"> special letters </a>
          </div>
          <div>
            <a routerLink="/vovels"> vovels </a>
          </div>
          <div>
            <a routerLink="/consonents"> components </a>
          </div>
          <div>
            <a routerLink="/syllabeles"> syllabeles </a>
          </div>

    </div>
</aside>

</body>
  <footer></footer>
</html>

