<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>TS SM</title>
</head>
<header>
  <h2> Spanish Language Turtorial </h2>
</header>
<body>
<nav>
  <div class="bottom">
    <h3>TOPICS</h3>
  </div>
  <div class="list">

    <div>
      <a routerLink="/alphabets"> <span>alphabets</span> </a>
    </div>
    <div>
      <a routerLink="/verbs"> verbs</a>
    </div>
    <div>
      <a routerLink="/adverbs"> adverbs</a>
    </div>
    <div>
      <a routerLink="/nouns"> nouns</a>
    </div>
    <div>
      <a routerLink="/pronouns"> pronouns</a>
    </div>
    <div>
      <a routerLink="/speechs"> speechs</a>
    </div>
    <div>
      <a routerLink="/tenses"> tenses</a>
    </div>
    <div>
      <a routerLink="/articles"> articles</a>
    </div>
    <div>
      <a routerLink="/interjunctions"> interjunctions</a>
    </div>
    <div>
      <a routerLink="/prepositions"> prepositions</a>
    </div>
    <div>
      <a routerLink="/conjunctions"> conjunctions</a>
    </div>
    <div>
      <a routerLink="/basic-words"> basic words</a>
    </div>
    <div>
      <a routerLink="/basic-sentences"> basic sentences</a>
    </div>
    <div>
      <a routerLink="/basic-questions"> basic questions</a>
    </div>


  </div>
</nav>
<main>
  <div>
    <h2> Spanish alphabets </h2>
  </div>
  <div>
    Spanish alphabets consist of 27 letters with 5 vowels and 22 consonants.
  </div>
  <div>
    <img src="/assets/images/spanish-special-letters.png" style="height: 300px ; width: 900px">
  </div>

  <div>
    <h2> Alphabets pronunciation</h2>
  </div>
  <div>
    <table>
      <tr>
        <th> Letters</th>
        <th>english</th>
        <th>Example-1</th>
        <th>Example-2</th>
        <th>Example-3</th>
        <th>Example-4</th>
      </tr>
      <tr>
        <td>a / A</td>
        <td>ah</td>
        <td>
          araña (spider)
        </td>
        <td>
          Abril (april)
        </td>
        <td>
          August (agosto)
        </td>
        <td>
          adiós (goodbye)
        </td>
      </tr>
      <tr>
        <td>b / B</td>
        <td>beh</td>
        <td>
          botella (bottle)
        </td>
        <td>
          bebé (baby)
        </td>
        <td>
          baño (bathroom)
        </td>
        <td>
          bebida (drink)
        </td>
      </tr>

      <tr>
        <td>c / C</td>
        <td>theh</td>
        <td>
          camarera (waitress)
        </td>
        <td>
          cocinero (cook)
        </td>
        <td>
          cuenta (check)
        </td>
        <td>
          corazón (heart)
        </td>
      </tr>

      <tr>
        <td>ch / CH</td>
        <td>cheh</td>
        <td>
          Chaqueta (jacket)
        </td>
        <td>
          charla (chat/talk)
        </td>
        <td>
          chatarra (scrap)
        </td>
        <td>
          chequero (cheque)
        </td>
      </tr>

      <tr>
        <td>d / D</td>
        <td>deh</td>
        <td>
          década (decade)
        </td>
        <td>
          diciembre (December)
        </td>
        <td>
          domingo (sunday)
        </td>
        <td>
          ducha (shower)
        </td>
      </tr>

      <tr>
        <td>e / E</td>
        <td>eh</td>
        <td>
          Ecuación (equation)
        </td>
        <td>
          Elefante (elephant)
        </td>
        <td>
          Elfo (elf)
        </td>
        <td>
          Emboscada (ambush)
        </td>
      </tr>


      <tr>
        <td>f / F</td>
        <td>efe</td>
        <td>
          flor (flower)
        </td>
        <td>
          fruta (fruit)
        </td>
        <td>
          fresco (cool)
        </td>
        <td>
          feliz (happy)
        </td>
      </tr>

      <tr>
        <td> g / G</td>
        <td>heh</td>
        <td>
          gente (people)
        </td>
        <td>
          gimnasio (gymnasium)
        </td>
        <td>
          guisantes (peas)
        </td>
        <td>
          gabinete (cabinet)
        </td>
      </tr>

      <tr>
        <td> h / H</td>
        <td>hache</td>
        <td>
          hoja (leaf)
        </td>
        <td>
          hora (hour)
        </td>
        <td>
          helado (freezing)
        </td>
        <td>
          huevos (eggs)
        </td>
      </tr>

      <tr>
        <td> i / I</td>
        <td>ee</td>
        <td>
          insuficiente (poor)
        </td>
        <td>
          inteligente (intelligent)
        </td>
        <td>
          invierno (winter)
        </td>
        <td>
          idiota (idiot)
        </td>
      </tr>

      <tr>
        <td> j / J</td>
        <td>hoh-tah</td>
        <td>
          jefe (boss)
        </td>
        <td>
          joya (jewel)
        </td>
        <td>
          jalea (jelly)
        </td>
        <td>
          jamás (never)
        </td>
      </tr>

      <tr>
        <td> k / K</td>
        <td>kah</td>
        <td>
          Kiosco (kiosk)
        </td>
        <td>
          kilometro (kilometer)
        </td>
        <td>
          kiwi (kiwi)
        </td>
        <td>
          kilogramo (kilogram)
        </td>
      </tr>

      <tr>
        <td> l / L</td>
        <td>eleh</td>
        <td>
          león (lion)
        </td>
        <td>
          listo (clever)
        </td>
        <td>
          libro (book)
        </td>
        <td>
          lunes (monday)
        </td>
      </tr>

      <tr>
        <td> ll / LL</td>
        <td>ey-eh</td>
        <td>
          Llamar (to call)
        </td>
        <td>
          Llegar (to arrive)
        </td>
        <td>
          Lluvia (rain)
        </td>
        <td>
          Llave (key)
        </td>
      </tr>

      <tr>
        <td> m / M</td>
        <td>emeh</td>
        <td>
          mantequilla (butter)
        </td>
        <td>
          marisos (sea food)
        </td>
        <td>
          matemáticas (mathematics)
        </td>
        <td>
          Llave (key)
        </td>
      </tr>

      <tr>
        <td> n / N</td>
        <td>eneh</td>
        <td>
          nalgas (botocks)
        </td>
        <td>
          novia (girlfriend)
        </td>
        <td>
          notable (verygood)
        </td>
        <td>
          nublado (cloud)
        </td>
      </tr>

      <tr>
        <td> ñ / Ñ</td>
        <td>en-yeh</td>
        <td>
          ñoñería (nonsense)
        </td>
        <td>
          ñoño (dull)
        </td>
        <td>
          ñudo (bonus)
        </td>
        <td>
          ñudo (knot)
        </td>
      </tr>

      <tr>
        <td> o / O</td>
        <td> oh</td>
        <td>
          ojo (eyes)
        </td>
        <td>
          Oro (gold)
        </td>
        <td>
          Ocio (leisure)
        </td>
        <td>
          olla (pot)
        </td>
      </tr>

      <tr>
        <td> p / P</td>
        <td> peh</td>
        <td>
          Pachanga (party)
        </td>
        <td>
          pacencia (Patience)
        </td>
        <td>
          Paco (police)
        </td>
        <td>
          Padecer (suffer)
        </td>
      </tr>

      <tr>
        <td> q / Q</td>
        <td> coo</td>
        <td>
          queque (cake)
        </td>
        <td>
          querido (lover/dear)
        </td>
        <td>
          quiebra (crack)
        </td>
        <td>
          queso (cheese)
        </td>
      </tr>

      <tr>
        <td> r / R</td>
        <td> ereh</td>
        <td>
          Rana (frog)
        </td>
        <td>
          Regalo (gift)
        </td>
        <td>
          Rico (rich)
        </td>
        <td>
          Reina (queen)
        </td>
      </tr>

      <tr>
        <td> rr / RR</td>
        <td> erreh</td>
        <td>
          Rapido (fast)
        </td>
        <td>
          Rayo (lightening)
        </td>
        <td>
          Ratas (rats)
        </td>
        <td>
          Reir (to laugh)
        </td>
      </tr>

      <tr>
        <td> s / S</td>
        <td> eseh</td>
        <td>
          simpático (nice)
        </td>
        <td>
          serio (serious)
        </td>
        <td>
          salchida (susage)
        </td>
        <td>
          sobrina (neice)
        </td>
      </tr>

      <tr>
        <td> t / T</td>
        <td> eseh</td>
        <td>
          tonto (stupid)
        </td>
        <td>
          tio (uncle)
        </td>
        <td>
          tulipán (tulip)
        </td>
        <td>
          tortilla (hamlet)
        </td>
      </tr>

      <tr>
        <td> u / U</td>
        <td> ooveh</td>
        <td>
          último (finally)
        </td>
        <td>
          unido (united)
        </td>
        <td>
          Urano (uranus)
        </td>
        <td>
          un poco (a little)
        </td>
      </tr>

      <tr>
        <td> w / W</td>
        <td> ooveh-dobleh</td>
        <td>
          Whiskería (whisky)
        </td>
        <td>
          wey (dude)
        </td>
        <td>
          Wikinoticias (uranus)
        </td>
        <td>
          wélter (boxing)
        </td>
      </tr>

      <tr>
        <td> x / X</td>
        <td> eh-kis</td>
        <td>
          xeno (foreign)
        </td>
        <td>
          xero (dry)
        </td>
        <td>
          xylo (wood)
        </td>
        <td>
          xenolito (xenolith)
        </td>
      </tr>

      <tr>
        <td> y / Y</td>
        <td> eh-greeye</td>
        <td>
          Yate (yacht)
        </td>
        <td>
          Yegua (animal)
        </td>
        <td>
          Yerto (grassy)
        </td>
        <td>
          yunta (yoke)
        </td>
      </tr>

      <tr>
        <td> z / Z</td>
        <td> zeta</td>
        <td>
          Zafado (crazy/mad)
        </td>
        <td>
          zagal (lad)
        </td>
        <td>
          zalameria (sweet talk)
        </td>
        <td>
          Zanahoria (carrot)
        </td>
      </tr>
    </table>

    <div>
      <h2>  Rules on pronunciation </h2>
      <div>
          <pre>
            Basic Rules of Accentuation
Words ending in a vowel, or n or s, the next to last syllable is stressed.
For words ending in a consonant other than n or s stress falls on the last syllable.
If the word has an accent mark, then that syllable is stressed, ignoring the rules above.
Syllable division involving two vowels
The vowels a, e, and o are "strong" vowels, and i and u are "weak". Where two vowels fall together, the following rules affect syllable division and accentuation:
A weak + strong combination belongs to one syllable with the stress falling on the strong vowel. aceite, cierra, causa.
A weak + weak combination belongs to one syllable with the stress falling on the second vowel. viuda, fuimos, diluir
A strong + strong combination is divided into two syllables. bom-be- ar, po-le-a, em-ple- o
If the word has an accent mark, then that syllable is stressed. flúido, día, encías

Vowels

a -- like the a in father

e -- for a syllable ending in a vowel, like the e in they; for a syllable ending in a consonant, like the e in get

i -- like the i in machine

o -- for a syllable ending in a vowel, like the o in vote; for a syllable ending in a consonant, like the o in pot

u -- like the u in rule; silent after q and in the groups gue and gui

y -- When used as a vowel, such as in the words y and voy, it is pronounced like the Spanish i.

Diphthongs

ai, ay -- like the i in side

au -- like the ou in found

ei, ey -- like the ey in they

eu -- like the vowel sounds in may-you

oi, oy -- like the oy in boy

Semiconsonants
i, y -- like the y in yes. Examples: bien, hielo
u -- like with w in well. Examples: huevo, fuente, agua

Consonants
b, v -- When found at the beginning of a word or following a consonant, these are pronounced like a b. Otherwise, they have a sound which falls somewhere inbetween the English b and v sounds.
c -- before a consonant or a, o, or u, like the c in cat; before e or i like an s

ch -- like the ch in church. Historically, the Spanish ch has been treated as a separate letter although this has recently been changed. Therefore, many dictionaries list words beginning with ch after the c's and before the d's.

d -- like the English d except between vowels and following l or n where pronounced like the th in this

f -- like the f in for

g -- before e or i, like the Spanish j; otherwise like the g in get

h -- silent

j -- like an h but stronger; silent when at the end of a word

k -- like a k

l -- like an l

ll -- like the y in you

m -- like an m

n -- like an n; except where it appears before a v, like an m

ñ -- like the n in onion

p -- like a p

q -- like a k; always followed by a silent u

r -- pronounced with a strong trill at the beginning of a word and following an l, n, or s; very little trill when at the end of a word; and medium trill in other positions

rr -- strongly trilled

s -- before consonants b, d, g, l, m, n, like a z; otherwise like an s

t -- like a t

v -- see b, v

w -- usually like a v

x -- when between vowels, like the x in box; before a consonant, like an s

y -- like the y in yes

z -- like an s
          </pre>
      </div>
    </div>

  </div>





</main>

<aside>
  <div class="bottom">
    <h3>SUB TOPICS</h3>
  </div>
  <div class="list">
    <div>
      <a routerLink="/vovels"> vovels </a>
    </div>
    <div>
      <a routerLink="/consonents"> consonents </a>
    </div>
  </div>

</aside>


</body>
<footer></footer>
</html>

